[submodule "lib/u8g2"]
	path = lib/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "lib/MadgwickAHRS"]
	path = lib/MadgwickAHRS
	url = https://github.com/arduino-libraries/MadgwickAHRS.git
[submodule "pyOCD"]
	path = pyOCD
	url = https://github.com/pyocd/pyOCD.git
