[submodule "lib/u8g2"]
	path = lib/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "lib/MadgwickAHRS"]
	path = lib/MadgwickAHRS
	url = https://github.com/arduino-libraries/MadgwickAHRS.git
[submodule "pyOCD"]
	path = pyOCD
	url = https://github.com/pyocd/pyOCD.git
[submodule "platform-seeedboards"]
	path = platform-seeedboards
	url = https://github.com/Seeed-Studio/platform-seeedboards.git
[submodule "led_strip_pov"]
	path = led_strip_pov
	url = https://github.com/Toastee0/led_strip_pov.git
[submodule "lib/tflite-micro"]
	path = lib/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "lib/gemmlowp"]
	path = lib/gemmlowp
	url = https://github.com/google/gemmlowp.git
[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "lib/ruy"]
	path = lib/ruy
	url = https://github.com/google/ruy.git
