/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>
#include "../nrf54l15-bindings.h"

&xiao_spi {
	compatible = "nordic,nrf-spim";
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		/* WS2812 LED strip configuration for 8x6 matrix (48 LEDs) */
		reg = <0>;                  /* P2.08 (D6/TX on XIAO nRF54L15) */
		spi-max-frequency = <SPI_FREQ>;

		/* 8x6 = 48 LEDs per matrix, 5 matrices = 240 LEDs total in raster format */
		chain-length = <240>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};
};

/ {
	aliases { 
		led-strip = &led_strip;
	};

	chosen {
		zephyr,bt-hci = &bt_hci_controller;
		zephyr,console = &uart20;
		nordic,rpc-uart = &uart20;
	};
};

&pdm20 {
	status = "okay";
};

dmic_dev: &pdm20 {};

&i2c30 {
	status = "okay";
	// IMU is already defined in board DTS, just enable the bus
};

&uart21 {
	status = "disabled";
};

&bt_hci_controller {
	status = "okay";
};
