/ {
    zephyr,user {
		/* XIAO nRF54L15 has 4 accessible analog pins:
		 * A0 = P1.04 (AIN0) - Potentiometer connected here
		 * A1 = P1.05 (AIN1)
		 * A2 = P1.06 (AIN2)
		 * A3 = P1.07 (AIN3)
		 */
		io-channels = <&adc 0>, <&adc 1>, <&adc 2>, <&adc 3>;
	};
};






&adc {
    status = "okay";
};


