# Sysbuild Kconfig

config FLPR_REMOTE
	bool "FLPR Remote Core"
	default y

config REMOTE_BOARD
	string "Remote board name"
	default "xiao_nrf54l15/nrf54l15/cpuflpr" if BOARD_XIAO_NRF54L15_NRF54L15_CPUAPP
	default "nrf54l15dk/nrf54l15/cpuflpr" if BOARD_NRF54L15DK_NRF54L15_CPUAPP
